name: Resume Pipeline

on:
  push:
    tags:
      - v**

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  resume-pipeline:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: '0'

      - name: Create resume docs
        run: |
          make convert

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v2
        with:
          path: ./html/

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2

      - name: Create release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            ./output/resume-${{ github.ref_name }}.md
            ./output/resume-${{ github.ref_name }}.pdf
            ./output/resume-${{ github.ref_name }}.html
            ./output/resume-${{ github.ref_name }}.docx
            ./output/resume-${{ github.ref_name }}.zip
            ./output/resume-${{ github.ref_name }}.css


